<div class="info-section intro-section">
    <h2>¡Simplifique la gestión de consultorios médicos!</h2>
    <p>Descubre nuestra aplicación diseñada para ayudarte a organizar turnos, gestionar pacientes y optimizar tu tiempo.</p>
  </div>
  
  <div class="info-section features-section">
    <h3>Características principales</h3>
    <ul>
      <li>Agenda de turnos eficiente</li>
      <li>Gestión centralizada de pacientes</li>
      <li>Recordatorios automatizados de citas</li>
      <li>Acceso móvil desde cualquier dispositivo</li>
      <li>Seguridad y confidencialidad de datos</li>
    </ul>
  </div>
  
  <div class="info-section benefits-section">
    <h3>Beneficios para los médicos</h3>
    <ul>
      <li>Ahorro de tiempo en la gestión diaria</li>
      <li>Organización óptima de turnos y citas</li>
      <li>Comunicación efectiva con pacientes</li>
      <li>Acceso remoto a la información</li>
      <li>Mayor productividad y eficiencia</li>
    </ul>
  </div>



  <div class="info-section">
    <h2>Testimonios de usuarios</h2>
    <blockquote>
      "La aplicación ha transformado la manera en que gestiono mi consultorio. Ahora puedo concentrarme más en la atención de mis pacientes."
      <footer>- Dra. Ana López, médica psiquiatra</footer>
    </blockquote>
    <blockquote>
      "Gracias a esta app, puedo gestionar mis citas de manera eficiente."
      <footer>- Dr. Julio Fernández, médico clínico</footer>
    </blockquote>
    <blockquote>
      "¡Excelente herramienta para médicos! Simplifica mi día a día."
      <footer>- Dra. Laura Rodríguez, médica pediatra</footer>
    </blockquote>
  </div> 